:root {
  --sedan-color: hsl(31, 77%, 52%);
  --suv-color: hsl(184, 100%, 22%);
  --luxury-color: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: bigShoulders;
    src: url(big-shoulders-bold.ttf);
}

body {
  margin: 0;
  background-color: var(--light-gray);
}

.grid-container {
  width: 900px;
  height: 400px;
  display: grid;
  margin: 12vh auto;
  grid-template-columns: repeat(3, 1fr);
}

.grid-container>div {
  box-sizing: border-box;
  padding: 3rem;
}

p {
  color: var(--transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-right: 12px;
  padding-bottom: 60px;
  line-height: 1.6;
}

h1 {
  font-family: bigShoulders;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--light-gray);
}

button {
  margin: 0;
  padding: .75rem 1.5rem;
  border-radius: 30px;
  border: 1px solid #fff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--light-gray);
}

.grid-item1 {
  background-color: var(--sedan-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.grid-item1 button {
  color: var(--sedan-color);
}

.grid-item1 button:hover {
  background-color: var(--sedan-color);
  color: var(--light-gray);
  cursor: pointer;
}

.grid-item2 {
  background-color: var(--suv-color);
}

.grid-item2 button {
  color: var(--suv-color);
}

.grid-item2 button:hover {
  background-color: var(--suv-color);
  color: var(--light-gray);
  cursor: pointer;
}

.grid-item3 {
  background-color: var(--luxury-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.grid-item3 button {
  color: var(--luxury-color);
}

.grid-item3 button:hover {
  background-color: var(--luxury-color);
  color: var(--light-gray);
  cursor: pointer;
}

@media (max-width: 500px) {
  .grid-container {
    height: 700px;
    width: 300px;
    margin: 15vh auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
  }

  .grid-item1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .grid-item3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  p {
    padding-bottom: 10px;
  }

  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }
}
